src/main/app/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8678" doc:name="HTTP Listener Configuration"/>
    <flow name="HelloWorldFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/{name}" doc:name="HTTP"/>
        <flow-ref name="sqlfileSub_Flow" doc:name="sqlfileSub_Flow"/>
    </flow>
    <flow name="HelloWorldSubFlow">
        <set-variable variableName="flowVariable" value="#[message.inboundProperties['http.uri.params']['name']]" doc:name="Variable"/>
        <set-session-variable variableName="sessionvalue" value="#['Session']" doc:name="Session Variable"/>
        <set-property propertyName="out" value="#['Outbound Message']" doc:name="Property"/>
        <logger message="Current flow variable is #[flowVars['flowVariable']] + #[sessionVars['sessionvalue']] + #[message.outboundProperties['out']]" level="INFO" doc:name="Display Flow Variable"/>
        <set-payload value="#['Hello, ' + flowVars['flowVariable'] + '. Today is ' + server.dateTime.format('dd/MM/yy') + ' - From Sub Flow.' +sessionVars['sessionvalue'] + 'Out Message' + message.outboundProperties['out']] " doc:name="Set Payload"/>
    </flow>
</mule>
